@page "/roles/list"

@using BlazorApp.Data
@using Entidades

@inject RolService service

@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h3>List</h3>


<p>
    <button class="btn" @onclick="()=>Create()">Crear Nuevo</button>
</p>

@if(roles == null){
<p><em>Loading...</em></p>
}else{
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in roles)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    <button class="btn" @onclick="()=>Details(item.Id)">Detalles</button>
                    <button class="btn" @onclick="()=>Edit(item.Id)">Editar</button>
                    <button class="btn btn-danger" @onclick="()=>Erase(item.Id)">Borrar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private List<Rol> roles;

    protected override async Task OnInitializedAsync()
    {
        roles = await service.GetAll();
    }

    protected void Edit(int id)
    {
        navigation.NavigateTo("roles/edit/" + id);
    }

    protected void Details(int id)
    {
        navigation.NavigateTo("roles/details/" + id);
    }

    protected void Create()
    {
        navigation.NavigateTo("roles/create/");
    }

    async Task Erase(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el Rol?");

        if (confirmed)
        {
            await service.Delete(id);
            roles = await service.GetAll();
        }
    }

}
